* {
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 5px;
}

.form {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    width: 400px;
    height: 550px;
    top: 20%;
    left: 20%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

}

input[type="text"] {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid #4CAF50;
    background-color: #f2f2f2;
    top: 50%;
    left: 50%;

}

form.main {
    background-color: #981818;
    padding: 50px;
    height: 0px;
    margin: 0 auto;
    width: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}


button[type="button"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    width: 300px;

}


input[type="button"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    width: 300px;
}

.saveProfile {
    padding: 10px;
}

.gallonForm {
    padding: 10px;
}

label.city {
    padding-right: 47px;
}

label.zipcode {
    padding-right: 17px;
}

label.state {
    padding-right: 38px;
}

select.stateSelection {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid #4CAF50;
    background-color: #f2f2f2;
    top: 50%;
    left: 50%;
}

label {
    font-weight: bold;
    margin-bottom: 10px;
}

.info {
    padding-top: 5px;
    padding-left: 15px;
}


button[type="submit"]:hover {
    background-color: #3e8e41;
}

input[type="button"]:hover {
    background-color: #3e8e41;
}

nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 10px;
    margin-left: auto;
}

li {
    margin: 5px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.user-pic {
    margin-top: 5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 15px;
}



.dropbtn {
    margin-top: 9px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 14px;
    /* font-size: 16px; */
    cursor: pointer;
}

/* Dropdown button on hover & focus
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  } */

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    margin-top: 30px;
    right: 25px;
    border-radius: 5%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}